.dashboard-sidebar {
    width: 250px;
    background-color: #3F3F3F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensures child absolute elements are anchored here */
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-sidebar > ul > li {
    margin: 15px 0;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
    color: #E0E0E0;
    position: relative; /* Needed for absolute positioning of the dropdown */
}

.dashboard-sidebar ul li:hover {
    background-color: #4C76A8;
    color: white;
}

.dashboard-sidebar-li-selected {
    background-color: #565656;
    color: #FFFFFF;
    border-left: 4px solid #4C76A8;
    padding-left: 6px;
}

/* Style for the dropdown items */
.dashboard-sidebar li ul {
    padding-left: 0;
    margin-top: 5px;
    position: absolute; /* Positions the dropdown relative to the parent */
    left: 0;
    top: 100%; /* Places dropdown below the parent item */
    width: 100%; /* Ensures the dropdown is as wide as the parent */
    background-color: #3F3F3F;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dashboard-sidebar li ul li {
    font-size: 1rem;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #B8B8B8;
}

.dashboard-sidebar li ul li:hover {
    background-color: #5A5A5A;
}
