.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.dashboard-tile-link {
    text-decoration: none;
    color: inherit;
}

.dashboard-tile {
    background-color: #f7f9fc;
    width: 200px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tile-image {
    width: 100%;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
}

.tile-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}
